<div class="container">
    <div class="col-12 row">
        <div class="col-3"></div>
        <div class="col-6">
            <form>
                <h2 style="text-align: center;">Cadastro de Produto</h2>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" required>
                </div>
                <div class="form-group">
                    <label for="preco">Preço</label>
                    <input type="text" class="form-control" id="preco" required>
                </div>
                <div class="form-group">
                    <label for="quantidade">Quantidade</label>
                    <input class="form-control" type="number" value="1" id="quantidade" required>
                </div>
                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <select class="form-control" id="categoria" required>
                        <option>Açougue</option>
                        <option>Bebida</option>
                        <option>Confeitaria</option>
                        <option>Congelados</option>
                        <option>Eletrodoméstico</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="data">Data de Validade</label>
                    <input class="form-control" type="date" value="2017-12-31" id="data" required>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea class="form-control" id="descricao" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="imagem">Carregar Imagem</label>
                    <input type="file" class="form-control-file" id="imagem">
                    <small id="imagemDescricao" class="form-text text-muted">
                        A imagem deve ser do tipo JPG e ter menos de 1mb de tamanho.
                    </small>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Ativo
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>