<section ng-controller="carrerController" class="carrinho font-principal col-12 no-padding">
    <div class="container">
        <div class="div-tabela col-12">
        <ul class="nav">
            <li class="titulo-item col-12 no-padding">
                <div class="row col-12 no-padding">
                    <div class="col-2">
                        <span></span>
                    </div>
                    <div class="col-5">
                        <span>Produto</span>
                    </div>
                    <div class="col-2">
                        <span>Valor</span>
                    </div>
                    <div class="col-2">
                        <span>Quant</span> 
                    </div>
                    <div class="col-1">
                        <span></span>
                    </div>
                </div>
            </li>
            <li class="item col-12 no-padding" ng-repeat="carrinho in carrer">
                <div class="row col-12 no-padding">
                    <div class="icone col-2">
                        <hr class="star-primary">
                        <img src="{{carrinho.image}}">
                    </div>
                    <div class="produto col-5">
                        <div class="row col-12">
                            <span class="col-12 font-cinza-item">{{carrinho.name}}</span>
                            <span class="merc col-12">{{carrinho.shopping}}</span>
                        </div>
                    </div>
                    <div class="valor col-2 font-cinza-item">
                        <span>R$ {{carrinho.price | currency: ''}}</span>
                    </div>
                    <div class="quant col-2 font-cinza-item">
                        <input class="form-control" type="number" min="1" placeholder="unit" value="{{carrinho.quant}}">
                    </div>
                    <div class="col-1 font-cinza-item center">
                        <i class="fa fa-trash-o font-red-1" aria-hidden="true"></i>
                    </div>
                </div> 
            </li>
        </ul>
        </div>
        <div class="subtotal col-12">
        <hr class="star-primary">
        <div class="row col-12">
            <span class="titulo col-10 no-padding">Subtotal: </span>
            <span class="valor col-2 no-padding">R$ {{}}</span>
        </div>
        <div class="comprar col-12">
        	<a href="/search" class="btn btn-primary btn-lg">Voltar a comprar</a>
            <button type="submit" class="btn btn-success btn-lg">Comprar</button>
        </div>
        </div>
    </div>  
</section>