<footer>
    <div class="p-3 background-black">
        <div class="row">
            <div class="col-7">
                <ul>
                    <li>
                        <a href="/search">Buscar</a>
                    </li>
                    <li>
                        <a href="/promocao">Promoção</a>
                    </li>
                    <li>
                        <a href="">Lista de Compras</a>
                    </li>
                    <li>
                        <a href="/product-registration">Cadastro de Produtos</a>
                    </li>
                </ul>
            </div>
            <div class="col-5">
                <form class="form-inline">
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2">
                    <button type="submit" class="btn btn-primary">ENVIAR</button>
                    <small id="emailHelp" class="form-text text-muted">Inscreva-se para receber ofertas e descontos exclusivos</small>
                </form>
            </div>
        </div>
    </div>
</footer>