<header>
    <div class="p-1 background-red-1 mb">
        <div class="container">
            <div class="row">
                <div class="p-2 font-principal col"><i class="fa fa-shopping-basket icon-logo" aria-hidden="true"></i> YouBuy</div>
                <div class="mt-4 font-white header-login">
                    <strong><a href="/list/order" class="font-white"><i class="fa fa-address-book-o invisible" aria-hidden="true"></i>Logar</a></strong>
                    ou
                    <strong><a href="/timeline/order" class="font-white">Cadastrar</a></strong>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-1 pt-1  background-red-2 shadow-bottom">
        <div class="container text-center headerTwo">
            <ul class="col-sm-12 pt-1 mb-1">
                <li  class="col-sm-3 search">
                    <a href="/">
                        <div>
                            <i class="fa fa-search mr-1" aria-hidden="true"></i>
                            <span>Buscar</span>
                        </div>
                    </a>
                </li>
                <li  class="col-sm-3 search">
                    <a href="/promocao">
                        <div>
                            <i class="fa fa-tag  mr-1" aria-hidden="true"></i>
                            <span>Promoção</span>
                        </div>
                    </a>
                </li>
                <li  class="col-sm-3 search">
                    <a href="/shoppingList">
                        <div>
                            <i class="fa fa-list-ol  mr-1" aria-hidden="true"></i>
                            <span>Lista de Compras</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>