<div class="container">
    <section class="painel">
        <h2>Promoções</h2>
        <ol>
            <div class="div-li">
                <li data-ng-repeat="pro in produtos" class="li">
                    <a href="/{{pro.id}}" class="link">
                        <div class="figure">
                            <figure> 
                              <span>{{"Cód. " + pro.id}}</span></br>
                                <img src="{{'/image/' + pro.image}}">
                                <figcaption> 
                                    <span>{{"Nome: " + pro.name}}</span></br>
                                    <span>{{"Descrição: " + pro.description}}</span></br>
                                    <span>{{"R$: " + pro.price}}</span></br>
                                </figcaption>
                            </figure>
                        </div>
                    </a>
                </li>
            </div>
        </ol>
    </section>
    <!--  <section class="painel mais-vendidos">
        <h2>Mais Vendidos</h2>
        <ol>
            <li>
                <a href="produto.html">
                    <figure>
                        <img src="img/produtos/miniatura7.png">
                        <figcaption>Fuzz Cardigan por R$ 129,90</figcaption>
                    </figure>
                </a>
            </li>
        </ol>
        <button type="button">Mostrar mais</button>
    </section>-->
</div>