<div class="row col-12" ng-controller="searchController">
    <div class="col-2 menu-lateral pr-0">
        <div class="category"ng-repeat="category in categorys">
            <span ng-click="searchForCategory(category.id)"><strong>{{category.name}}</strong></span>
        </div>
    </div>
    <div class="col-10 corpo mt-3">
        <div class="row pb-3" style="margin-left: 2rem!important;margin-right: -0.3rem!important;">
            <div class="col-lg-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Digite o Produto que procura aqui..." aria-label="Search for..." style="
                height: 52px;" ng-model="busca">
                    <span class="input-group-btn">
							<button class="btn btn-secondary" type="button" style="
							height: 52px;
							" ng-click="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
						</span>
                </div>
            </div>
        </div>
        <div class="row ml-4">
            <div class="card ml-4" ng-repeat="product in products" style="width: 20rem;">
                <img class="card-img-top" src="{{product.image}}" alt="Card image cap" style="
					height: 250px;
					">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text">{{product.price}}</p>
                    <div class="row">
                        <div class="input-group col-5">
                            <input type="number" class="form-control" placeholder="{{product.unitOfMeasurement}}" aria-label="quant" ng-model="value" aria-describedby="basic-addon1">
                        </div>
                        <a href="#" class="btn btn-primary col-7" ng-click="addCart(product.id,value,product.price)" data-toggle="modal" data-target="#myModal">COMPRAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Carrinho</h4>
                </div>
                <div class="modal-body">
                    <p>Seu produto foi adicionado no carrinho, com sucesso.</p>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary" href="/list/order">Ir para carrinho</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Continuar comprando</button>
                </div>
            </div>

        </div>
    </div>

</div>