<div class="container">
    <div class="row">
        <div class="col">Menu Categoria</div>
        <div>
            <div class="row pb-3" style="margin-left: 2rem!important;margin-right: -1.8rem!important;">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Digite o Produto que procura aqui..." aria-label="Search for..." style="

							height: 52px;
							">
                        <span class="input-group-btn">
								<button class="btn btn-secondary" type="button" style="
								height: 52px;
								"><i class="fa fa-search" aria-hidden="true"></i></button>
							</span>
                    </div>
                </div>
            </div>

            <div class="row ml-4">
                <div class="card ml-4" style="width: 20rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card ml-4" style="width: 20rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card ml-4" style="width: 20rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>