<div ng-controller="shoppingListController">
    <div class="container">
        <div class="row pb-3 mt-3" style="margin-left: 0rem!important;margin-right: -0.3rem!important;">
            <div class="container">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Digite a lista de compra que procura"
                           aria-label="Search for..." style="

					height: 52px;
					">
                    <span class="input-group-btn">
						<button class="btn btn-secondary" type="button" style="
						height: 52px;
						"><i class="fa fa-search" aria-hidden="true"></i></button>
					</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="card" style="width: 20rem;">
                <div class="card-body p-0">
                    <div class="card-body p-0">
                        <h4 class="card-header col">
                            <div class="row">
                                <div class="col-10">
                                    Titulo
                                </div>
                                <div class="col-2 close-list">
                                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                </div>
                            </div>

                        </h4>
                    </div>
                    <div class="container">
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <div class="col-12 card-buttom">
                            <a href="#" class="btn btn-primary col-10">Ver itens</a>
                        </div>
                    </div>
                    <footer class="blockquote-footer">Atualização: <cite title="Source Title">31/10/2017</cite></footer>
                </div>
            </div>

            <div class="card" style="width: 20rem;">
                <div class="card-body p-0">
                    <div class="card-body p-0">
                        <h4 class="card-header col">
                            <div class="row">
                                <div class="col-10">
                                    Titulo
                                </div>
                                <div class="col-2 close-list">
                                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                </div>
                            </div>

                        </h4>
                    </div>
                    <div class="container">
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <div class="col-12 card-buttom">
                            <a href="#" class="btn btn-primary col-10">Ver itens</a>
                        </div>
                    </div>
                    <footer class="blockquote-footer">Atualização: <cite title="Source Title">31/10/2017</cite></footer>
                </div>
            </div>


            <div class="card" style="width: 20rem;">
                <div class="card-body p-0">
                    <div class="card-body p-0">
                        <h4 class="card-header col">
                            <div class="row">
                                <div class="col-10">
                                    Titulo
                                </div>
                                <div class="col-2 close-list">
                                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                </div>
                            </div>

                        </h4>
                    </div>
                    <div class="container">
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <div class="col-12 card-buttom">
                            <a href="#" class="btn btn-primary col-10">Ver itens</a>
                        </div>
                    </div>
                    <footer class="blockquote-footer">Atualização: <cite title="Source Title">31/10/2017</cite></footer>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col plus-buttom">
    <a href="" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-plus-circle" aria-hidden="true" title="Criar nova lista de compras"></i>
    </a>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nova lista de compra</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="jumbotron">
                        <div class="">
                            <h3 class="">Descrisão da lista</h3>
                            <hr class="my-4">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Nome Lista</label>
                                <input type="text" class="form-control" id="inputEmail4"
                                       placeholder="Insira um nome para sua lista de compras">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Descrisão</label>
                                <input type="text" class="form-control" id="inputPassword4"
                                       placeholder="Informe uma breve descrisão">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" ng-model="notification">
                                    Ativar notificações ? <i class="fa fa-bell-o" aria-hidden="true"
                                                             style="color: #000!important;"></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-group" ng-show="notification">
                            <div class="row container">
                                <div class="form-check">
                                    <label class="form-check-label mr-2">
                                        <input class="form-check-input" type="checkbox" ng-model="week"> Semanal
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label mr-2">
                                        <input class="form-check-input" type="checkbox" ng-model="month"> Mensal
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label mr-2">
                                        <input class="form-check-input" type="checkbox" ng-model="once"> Uma única vez
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="once">
                            <label for="inputAddress1">Informe a data que deseja ser informado</label>
                            <input type="datetime-local" class="form-control" id="inputAddress1"
                                   placeholder="Informe a data e hora deseja ser informado">
                        </div>
                        <div class="row container" ng-show="week">
                            <div class="form-group mr-2">
                                <label for="exampleSelect1">Informe dia da semana e a </label>
                                <select class="form-control" id="exampleSelect1">
                                    <option>Domingo</option>
                                    <option>Segunda-feira</option>
                                    <option>Terça-feira</option>
                                    <option>Quarta-feira</option>
                                    <option>Quinta-feira</option>
                                    <option>Sexta-feira</option>
                                    <option>Sabado</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="month">
                            <label for="inputAddress2">Informe do mês que deseja ser informado</label>
                            <input type="datetime-local" class="form-control" id="inputAddress2"
                                   placeholder="Informe do mês que deseja ser informado">
                        </div>

                        <div class="form-group ">
                            <label for="example-color-input" class="">Selecione uma Cor</label>
                            <input class="form-control" type="color" value="#563d7c" id="example-color-input">
                            <small>obs. utilize a cor de templete para melhor vizualização em tela.</small>
                        </div>
                    </div>
                    <br>
                    <div class="">
                        <h3 class="">Adicione seus produtos na lista</h3>
                        <hr class="my-4">
                    </div>
                    <div class="row container">
                        <div class="form-group input-width">
                            <label for="inputAddress3">Produto</label>
                            <input type="text" class="form-control" id="inputAddress3"
                                   placeholder="Informe o produto que deseja">
                        </div>
                        <div class="buttom-modal-add  ml-1">
                            <a href="">
                                <i class="fa fa-plus-circle" aria-hidden="true" title="Criar nova lista de compras"></i>
                            </a>
                        </div>
                    </div>

                    <div class="form-row">
                        <!-- 							<div class="form-group col-md-6">
                                                        <label for="inputCity">City</label>
                                                        <input type="text" class="form-control" id="inputCity">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="inputState">State</label>
                                                        <select id="inputState" class="form-control">
                                                            <option selected>Choose...</option>
                                                            <option>...</option>
                                                        </select>
                                                    </div> -->
                        <div class="form-group col-md-3">
                            <label for="inputZip">Quant.</label>
                            <input type="number" class="form-control" id="inputZip">
                        </div>
                    </div>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Produto</th>
                        <th>Marca</th>
                        <th>Quant</th>
                        <th class="text-center">Remover</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Produto A</td>
                        <td>Tiozão</td>
                        <td>15</td>
                        <td class="text-center">
                            <i class="fa fa-times text-danger" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Produto B</td>
                        <td>Tiozão</td>
                        <td>1</td>
                        <td class="text-center"><i class="fa fa-times text-danger" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Produto C</td>
                        <td>Tiozão</td>
                        <td>2</td>
                        <td class="text-center"><i class="fa fa-times text-danger" aria-hidden="true"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-click="vm.newShoppingList()" class="btn btn-primary">Cadastrar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
</div>