@import url('https://fonts.googleapis.com/css?family=Oswald');
.background-red-1{
	background: #BC2026;
}
.background-red-2{
	background: rgba(169,29,34,1);
}
.background-black{
	background: #343a40!important;
}
.mb{
	margin-bottom: 0 !important;
}
.mt{
	margin-top: 0 !important;
}
.ml{
	margin-left: 0 !important;
}
.mr{
	margin-right: 0 !important;
}
.font-principal{
	font-family: 'Oswald', sans-serif;
	font-weight: 900;
	color: #fff;
	font-size: 26pt;
}
.shadow-bottom{
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}
ul{
	list-style:none;
}
a{
	color: #000!important;
	text-decoration: none!important;
}
a:hover{
	color: #000!important;
	text-decoration: none!important;
}
.headerTwo ul li {
	display: inline-block;
}
.headerTwo li span,i{
	font-size: 14pt !important;
	color: #fff !important;
	font-weight: 300;
}
.icon-logo{
	font-size: 26pt!important;
}
.font-white{
	color:#fff!important;
}
.header-login a:hover{
	color:#ddd!important;
	transition-duration: 1s;
}
.search:hover{
	box-shadow: 0 3px 3px -2px rgba(0,0,0,.2);
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: 5%;
}
footer ul li a{
	color: #fff!important;
}
.btn-primary{
	color: #fff!important;
}