.item {
    position: relative;
    margin: 15px;
    border-left: 3px dashed antiquewhite;
    padding: 10px 40px;
}

.item > span {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    left: -20px;
    top: 0;
    background: antiquewhite;
}

.item div {
    font-size: 18px;
    font-weight: bold;
}

.item p {
    margin-top: 15px;
}

.aprovad{
    border-color: #28a745!important;
}

.aprovad-item{
    background: #28a745!important;
}

.table thead th {
    text-align: center;
}
.table span {
    background-color: #343a40!important;
    color: #fff;
    border-radius: 10px;
    padding: 9px;
}