<!DOCTYPE html>
<html data-ng-app="youBuyApp">
<head>
    <title>YouBuy</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.js"></script>
    <script src="./angular/angular.min.js"></script>
    <script src="./angular/angular-route.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/controller/indexCtrl.js" ></script>
    <script src="./js/controller/promocaoCtrl.js"></script>
    <script src="./js/controller/cadastro-produto-controller.js"></script>
    <script src="./js/controller/carrerController.js"></script>
    <script src="./js/angular-locale_pt-br.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/index.css"/>
    <link rel="stylesheet" type="text/css" href="./css/carrer.css"/>
   <link rel="stylesheet" type="text/css" href="./css/boostrap/bootstrap.css"/>
   <link rel="stylesheet" type="text/css" href="./font-awesome/css/font-awesome.css"/>

    <base href="/" />



</head>
<body>
<div ng-include="'./views/header.html'"></div>
<div data-ng-view = "ng-view"></div>
<div ng-include="'./views/footer.html'"></div>
</body>
</html>